footer {
  margin-top: auto;
  background-color: var(--primary-light);
  padding: 20px;
  color: #fff;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-left-content,
.footer-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 175px;
}
.footer-right-content {
  border-left: 3px solid #fff;
}
.footer-logo-container {
  text-align: center;
}
.footer-logo-img {
  width: 120px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 0.75rem rebeccapurple);
}
.footer-switch-portal-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-go-company,
.footer-go-student {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid rebeccapurple;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 24px;
  width: 160px;
}
.footer-go-company:hover,
.footer-go-student:hover {
  background-color: #fff;
  color: rebeccapurple;
}
/* .footer-container > div {
  margin-bottom: 20px;

} */
.footer-social-media-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.footer-social-media-link {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 3px 40px;
  text-decoration: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 39px;
}
.footer-social-media-link:hover {
  background-color: #fff;
  color: #096dca;
}
.copyright {
  margin-bottom: 0 !important;
}
