footer {
  margin-top: auto;
  background-color: var(--off-white);
  padding: 20px;
  color: #251d63;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-left-content,
.footer-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 110px;
}
.footer-right-content {
  border-left: 3px solid #fff;
}
.footer-logo-container {
  text-align: center;
}
.footer-logo-img {
  width: 70px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 0.75rem rebeccapurple);
}
.footer-switch-portal-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.footer-go-company,
.footer-go-student {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 8px 12px;
  border: 1px solid rebeccapurple;
  color: #251d63;
  border-radius: 6px;
  width: 130px;
  text-align: center;
}
.footer-go-company:hover,
.footer-go-student:hover {
  background-color: #251d63;
  color: #fff;
}
.footer-social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-social-media-link {
  font-weight: 600;
  margin: 3px 40px;
  text-decoration: none;
  color: #251d63;
  width: 32px;
  height: 32px;
  border: 2px solid #251d63;
  border-radius: 50%;
  text-align: center;
  line-height: 31px;
}
.footer-social-media-link:hover {
  background-color: #fff;
  color: #096dca;
  border: 2px solid #096dca;
}
.copyright {
  margin-bottom: 0 !important;
}
