:root {
  --primary: #251d63;
  --primary-lighter: #3d376b;
  --primary-light: #7e78aa;
  --off-white: #ececec;
  --white: #fbfbfb;
  --black: #080910;
  --background-gradient: linear-gradient(
    45deg,
    rgba(126, 120, 170, 1) 0%,
    rgba(37, 29, 99, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgba(126, 120, 170, 1) 0%, rgba(37, 29, 99, 1) 100%);
  font-family: "Inter", sans-serif;
}

.main-header {
  padding: 10x;
  margin: 10px;
  color: var(--primary);
}

.main-navigations {
  list-style: none;
  display: flex;
  margin: 16px;
}

.nav-link {
  font-size: 1.2rem;
  padding: 16px;
  margin: 16px;
  text-decoration: none;
  color: var(--primary);
}

.nav-link:hover {
  color: var(--white);
  text-decoration: underline;
}

.wraper {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 16px;
  background-color: var(--primary-light);
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    min-height: 100vh;
  }

  body {
    height: 100%;
    margin: 0;
  }

  .main-header {
    font-size: 2rem;    
  }  
    font-size: 2rem;
  }

  .main-navigations {
    display: none;
    padding: 10px 10px 10px 0px;
    border-radius: 0px 0px 10px 10px;
    opacity: 95%;
  }
  .active {
    background-color: var(--primary-light);
    position: absolute;
    top: 76px;
    display: flex;
    flex-direction: column;
    right: 0;
    margin: 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    background-color: var(--primary-light);
    margin: 10px 10px 10px;
    margin-left: auto;
  }

  
  .burger > span {
    width: 80%;
    height: 20%;
    background-color: var(--primary);
  }



  
  /* .burger > .testClass {
    width: 25px;
    height: 8px;
 
}

.main-navigations {
  margin: -10px; 
} */

}