:root {
  --primary: #251d63;
  --primary-lighter: #3d376b;
  --primary-light: #7e78aa;
  --off-white: #ececec;
  --white: #fbfbfb;
  --black: #080910;
  --background-gradient: linear-gradient(
    45deg,
    rgba(126, 120, 170, 1) 0%,
    rgba(37, 29, 99, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}
