.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background: var(--background-gradient);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-container div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: xx-large;
    width: 100%;
    height: 15%;
    margin: 5px;
}

.main-container p {
    text-align: center;
    color: var(--off-white);
}

.button-container-text {
    font-size: x-large;
}

.landing-page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 39px;
    padding: 10px 16px;
    border-radius: 18px;
    border: none;
}

@media only screen and (min-width: 900px) {
   
   .main-container {
       width: 70%;
       height: 70%;
       background-color: var(--off-white);
       border-radius: 20px;
   }

   .main-container p {
       color: var(--black);
   }

   .landing-page-button {
       background-color: var(--primary-light);
   }
}   