.student-profile-container {
  width: 93vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: var(--primary-lighter);
  i {
    padding: 0 8px;
  }
}
.student-profile-container .student-profile {
  max-width: 900px;
  min-height: 500px;
  border-radius: 16px 16px 0 0;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
}
.student-profile-container .midle-line {
  height: 50vh;
  width: 3px;
  background-color: var(--primary);
}
.student-profile-left-content {
  width: calc(51% - 10px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  align-self: stretch;
}
.student-profile-right-content {
  width: calc(48% - 10px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  align-self: stretch;
  padding-left: 30px;
}
.img-and-short-info-container {
  display: flex;
  align-items: start;
  justify-content: start;
  img {
    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
  }
}
.student-short-info {
  padding: 12px;
  h3,
  p {
    padding: 4px;
  }
}
.student-project-container,
.student-cv {
  background-color: var(--primary-light);
  color: #fff;
  padding: 12px;
  min-width: 250px;
  border-radius: 8px;
  h4 {
    margin-bottom: 10px;
  }
  a {
    color: var(--white);
    text-decoration: none;
  }
}

.student-projects {
  padding-left: 8px;
  list-style-type: none;
  li {
    padding: 4px 0;
  }
}

.what-search > *,
.what-suggest > * {
  padding: 6px 0;
}

.student-skills-contaiiner {
  max-width: 900px;
  width: 100%;
  min-height: 120px;
  border-radius: 0 0 16px 16px;
  padding: 24px;
  background-color: var(--primary-light);
  color: #fff;
  #student-skills-list {
    width: fit-content;
    list-style-type: decimal;
    padding: 12px;
    text-align: start;
    .skill {
      padding: 4px 0;
    }
  }
}
