body {
    width: 100%;
    min-height: 100dvh;
    background: var(--background-gradient);
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-main-content {
    min-height: 85vh;
    position: relative;
}

.profile-wrapper {
    padding: 8px;
}

.profile-card-wrapper > div:not(:first-child) {
    margin-top: 2%;
    color: var(--white);
}

.profile-card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 250px;
    width: 100%;
    padding: 12px;
    gap: 8px;
    margin-top: 0;
    border-radius: 15px;
    background-color: var(--off-white);
    color: var(--primary-light);
}

.profile-summary {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    z-index: 30;
    gap: 8px;
    color: var(--primary);
}

.profile-summary img {
    height: 92px;
    width: 92px;
}

.profile-summary img:hover {
    cursor: pointer;
}

.profile-bio {
    position: relative;
    width: 100%;
    height: 50%;
    color: var(--primary-light);
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.link-container {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    background-color: var(--primary-light);
    border: 1px solid var(--white);
}

.link-container > div:not(:first-child) {
    padding-top: 8px;
}

.container-text {
    width: 100%;
    padding: 0px;
}



/*  temp css below */

.utility-button-left {
    position: absolute;
    top: 20px;
    left: 16px;
}

.utility-button-right {
    position: absolute;
    top: 20px;
    right: 16px;
}

.utility-button {
    height: 25px;
    padding: 4px;
    z-index: 40;
    color: var(--primary);
}

.utility-button:hover {
    cursor: pointer;
}

.title { /* this might need to be globalised */
    font-size: 20px;
}

.temp-icon {
    background-color: lightblue;
    border-radius: 8px;
    height: 16px;
    width: 16px;
    border: 1px solid black;
}

.temp-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fake-link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--primary);
    text-decoration: underline;
    
}

/* End off temporary css */

@media screen and (min-width: 900px) {

    .profile-main-content{
        justify-content: center;
    }

    .profile-wrapper {
        display: flex;
        position: relative;
        width: 90%;
        height: 90%;
        min-height: 60vh;
        background-color: var(--off-white);
        border-radius: 20px;
    }

    .left {
        color: var(--white);
    }

    .bob {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    .rob {
        height: 90%;
        width: 3px;
        border: 2px solid var(--primary);
        border-radius: 2px;
    }

    .profile-card-wrapper {
        width: 45%;
        height: 100%;
    }
    
    .profile-card {
        background-color: var(--white);
    }

    .container-text {
        width: 45%;
        height: 100%;
        padding: 12px;
    }

    .container-text > * {
        padding: 8px;
    }
    
}